/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

/*Generale*/

p {
  margin: 30px;
}

* {
  font-family: 'Signika Negative', sans-serif;
} 

header {
  padding: 30px;
}

.container {
  position: relative;
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1; 
}

/*Navbar*/

nav {
  padding: 10px;
  margin-right: 10px;
  border: 2px groove;
  border-radius: 8px;    
}


#navbarform {
  padding: 10px;
  border: 2px groove;
  border-radius: 8px;
  margin-right: 10px;    
}

#home {
  margin-left: 10px;
}
#catalogo {
  background-color: #ffcc33;
}
#accedi {
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ffcc33;
  color: white;
}
#carouselExampleCaptions {
  border-top:5px;    
  border-bottom: 5px;
  margin: auto;
  width: 70%;
  padding: 10px;
}

#carouselExampleCaptions h5 {
  text-decoration-thickness: 5px;
  background-color: whitesmoke;  
  color:#B8860B;
}

#carouselExampleCaptions p {  
  background-color: whitesmoke;
  color:#B8860B;
}

#carouselExampleCaptions img {
  width:500px;
  height:600px;
}

/*Titoli secondo livello*/

h2 {
  color: darkgoldenrod;
}

/*FOOTER*/
#containerfooter, footer {
  background-color: darkgoldenrod;
}

/*form newsletter*/
form {
  border: none;
  background-color: none;
}

#containernewsletter {
  background-color: #ffcc33;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #e6e6ff;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/*metto qui x file collezione sotto le briciole*/

.container .content {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 80%; 
  padding: 10px; 
}

#frecciasu {
  float: right;
  margin: bottom;
}

/*item Emilio Lussu*/

#containeritemlussu {
  border: 2px solid darkgoldenrod;
  background-color: #ffffff;
  font-size: 18px;
}

#containeritememilio {
  border: 2px solid darkgoldenrod;
  background-color: #ffebcc;
  font-size: 18px;
}

/*item Oppi*/

#containeroppi {
  border: 2px solid darkgoldenrod;
  background-color: #ffebcc;
  font-size: 18px;
}
#fidanzati {
  padding: 10px;
  margin-left: 70px;
}